@import "tailwindcss";

@config "../../tailwind.config.ts";

/* Добавляем поддержку переключения по классу */
@variant dark (&:where(.dark, .dark *));

/* Базовые цвета для темы, если они еще не настроены */
:root {
  --background: #f8fafc; /* светлый */
  --foreground: #0f172a;
}

.dark {
  --background: #09090b; /* темный */
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease;
}